<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= name %> </p>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
<a href="file:///Users/robertranalli/Desktop/NODE_PASSPORT_LOGIN/final/index.html" class="btn btn-secondary">Start Using Cabbages!</a>
